# Intellij files
.idea/
*.iml

# gradle's output dir
build/
out/
src/main/resources-generated

# the gradle temp dir
.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#Classes
classes/

contrib/cloudformation-template/.bundle/ruby

.DS_Store

.ruby-version
.ruby-gemset
